<mat-toolbar > <h1>REGISTRO STUDENTI</h1></mat-toolbar>
<div class="test">
<mat-toolbar >
    <mat-toolbar-row>
       
        <mat-button-toggle-group class="button-toggle" >
        <mat-button-toggle  routerLink="/">Studenti</mat-button-toggle>
        <mat-button-toggle  routerLink="/aggiungi_studente">Aggiungi Studente</mat-button-toggle>
        <mat-button-toggle id="nascondi" routerLink="/voti">Voti</mat-button-toggle>
        <mat-button-toggle id="nascondi" routerLink="/voti">Comunicazioni</mat-button-toggle>
        <mat-button-toggle id="nascondi" routerLink="/voti">Informazioni</mat-button-toggle>
    </mat-button-toggle-group>
    </mat-toolbar-row>
</mat-toolbar>
</div>
<router-outlet></router-outlet>