h1 {
    margin: 0 auto;
    font-size: 40px;

    color: rgb(0, 0, 0);
}



mat-toolbar {
    background-color: rgb(238, 238, 238);
}

.button-toggle mat-button-toggle {
    border-radius: 5px;
    border: 1px solid rgb(238, 238, 238);
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    width: 200px;
}

.button-toggle {
    margin: 0 auto;
    background-color: rgb(238, 238, 238);
    border: 0;

}

.mat-button-toggle-checked {
    color: rgb(104, 1, 1);
}

@media screen and (max-width:550px) {
    #nascondi {
        display: none;
    }

    .riduci {
        width: fit-content;
    }

    .test {
        display: inline-block;
    }

}