.example-card {
 
    max-width: 450px;
    height: 745px;
    margin: 50px auto;
    box-shadow: 1px 1px 3px 1px #aaa;
  }
 header *{
    text-align: center;
    margin-bottom: 10px;
    
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }

 img{
   width: 300px;
   display: block;
   margin: 10px auto;
   width: 70%;
 }

 .select_option *{
display: flex;

align-items: center;
justify-content: center;
margin-bottom: 5px;
 
 }

 ng-select{
  
   width: 100%;
 }
 
.select_option button{
 margin-top: 10px;
   border: 1px solid rgb(207, 207, 207);
   width: 150px;
   margin-left: 40px;
 }