<br />
<mat-card class="example-card">
  <header>
    <mat-card-title>NUOVO STUDENTE</mat-card-title>
    <mat-card-subtitle>Inserire i dati del nuovo studente:</mat-card-subtitle>
  </header>
  <img
    mat-card-image
    src="../../assets/immagini/immagine_vuota.png"
    alt="Immagine Studente"
  />
  <mat-card-content>
    <div class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Nome</mat-label>
        <input
          matInput
          [(ngModel)]="nome"
          placeholder="Inserire il Nome dello studente, Es: John"
          autocomplete="off"
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Cognome</mat-label>
        <input
          matInput
          [(ngModel)]="cognome"
          placeholder="Inserire il Cognome dello studente, Es: Smith"
          autocomplete="off"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Età</mat-label>
        <input
          matInput
          [(ngModel)]="eta"
          placeholder="Inserire l'Età dello studente, Es: 18"
        />
      </mat-form-field>

      <div class="select_option">
        <mat-label>RESIDENZA</mat-label>
        <ng-select [(ngModel)]="FKResidenza" placeholder="Seleziona Residenza">
          <ng-option value="1" selected>Rovereto</ng-option>
          <ng-option value="2">Mori</ng-option>
          <ng-option value="3">Riva Del Garda</ng-option>
        </ng-select>

        <mat-label>GENERE</mat-label>
        <ng-select matNativeControl placeholder="Seleziona Genere">
          <ng-option value="Femmina" selected>Maschio</ng-option>
          <ng-option value="Maschio">Femmina</ng-option>
        </ng-select>

        <mat-card-actions>
          <button mat-button id="salvaBtn" [disabled] = "!datiCaricati" (click)="aggiungiStudente()">
            SALVA
          </button>
          <button mat-button>ANNULLA</button>
        </mat-card-actions>
      </div>


      <span *ngIf="aggiunto == false; else studenteAggiunto"></span>

      <ng-template #studenteAggiunto>
        <span style="color: rgb(39, 231, 39);font-size: 18px;">STUDENTE AGGIUNTO</span>
      </ng-template>

    </div>
  </mat-card-content>
</mat-card>


