* {
    box-sizing: border-box;
    padding: 0;
}

.container {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.tabella {
    
    table-layout: fixed;
    border-spacing: 0; 
    border-collapse: separate; 
    min-width: 480px;
    max-width: 1500px;
    width: 100%;
    font-size: 18px;
    box-shadow: 1px 1px 7px 1.5px rgb(196, 196, 196);
    border-radius: 9px;
    border: 1px solid rgb(206, 204, 204);
}

.tabella input {
    width: 75px;
    text-align: center;
    border: 1px solid rgb(231, 231, 231);
}

.tabella th, .tabella td {
    /* border: 1px solid #cecdcd; */
    /* box-shadow: 1px 2px 3px 1px rgb(189, 189, 189); */
    text-align: center;
    word-wrap: break-word;
    height: 50px;
}

.tabella tr:nth-child(even) {
    background-color: #f0f0f0;
}

.containerInput {
    min-width: 480px;
    max-width: 1500px;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 25px;
    height: 100%;
}

#ins {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    justify-content: flex-end;
}

#filt {
    position: absolute;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#filt2 {
    position: absolute;
    margin-top: 47px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#filt input {
    border-radius: 7px 0px 0px 7px;
}

input, button {
    box-shadow: 1px 1px 3px 1px rgb(196, 196, 196);
    outline: 0;
}

.input-dati2 button, .input-dati2 input {
    padding: 10px;
    border: 1px solid rgb(214, 214, 214);
}

.input-dati2 button {
    border-radius: 0px 7px 7px 0px;
    width: 70px;
    background-color: #f3f3f3;
}

.input-dati2 button:hover {
    background-color: #d6d6d6;
}

.input-dati2 input, .input-dati2 input:focus {
    width: 140px;
    outline-color: rgb(139, 139, 139);

}

.icona {
    cursor: pointer;
    text-align: center;
}

.presente {
    color: lime;

}

.assente {
    color: red;
}

thead, #bordo {
    border-radius: 9px 0 0 0;
}

thead {
    background-color: rgb(224, 224, 224);
}

#bordo2 {
    border-radius: 0 9px 0 0;
}

@media screen and (max-width:550px) {
    .nascondi {
        display: none;
    }

    .riduci {
        width: fit-content;
    }

    .test {
        display: inline-block;

    }

}

mat-icon:hover {
    cursor: pointer;
    font-size: 25px;
   font-weight: bold;
   color: red;
}