<div class="test">
<br>

<button style="margin-left: 25px;width: 200px;height: 40px;" mat-raised-button (click)="visualizzaDati()">MOSTRA TUTTI</button>

<div class="container">

    <div class="containerInput">

<div class="input-dati2" id="filt">
    <input type="number" [(ngModel)]="id_selezionato" placeholder="Inserisci ID Studente" autocomplete="off">
    <button (click)="filtroPerId()">Filtra</button>
    
    <div class="input-dati2" id="filt2">
        <input type="text" [(ngModel)]="nomeInserito" placeholder="Inserisci Nome Studente" autocomplete="off">
        <button (click)="cercaStudente()">Cerca</button>
    </div>
</div>

<div class="input-dati2 " id="ins">

    <input type="number" [(ngModel)]="indexEntrata" style="width: 60px;border-radius: 7px 0px 0px 7px;" placeholder="ID">
    <input type="text" [(ngModel)]="entrata" placeholder="Entrata in Ritardo" autocomplete="off">

    <button (click)="modificaEntrata(indexEntrata)">Entrata</button>

</div>


<div class="input-dati2 " id="ins">

    <input type="number" [(ngModel)]="indexUscita" style="width: 60px;border-radius: 7px 0px 0px 7px;" placeholder="ID">
    <input type="text" [(ngModel)]="uscita" placeholder="Uscita anticipata" autocomplete="off">

    <button (click)="modificaUscita(indexUscita)">Uscita</button>

</div>

</div>

<table class="tabella">

    <thead>

        <th class="riduci" id="bordo">ID</th>
        <th>Nome</th>
        <th>Cognome</th>
        <th class="nascondi">Eta</th>
        <th class="nascondi">Residenza</th>
        <th>Stato</th>
        <th>Entrata</th>
        <th>Uscita</th>
        <th class="nascondi">Rimuovi</th>
        <th id ="bordo2">Presente/Assente</th>

    </thead>

    <tbody>

        <tr *ngFor="let dato of datiRicevuti | cercaStudente:nomeInserito; let i = index ">
            <td class="riduci">{{dato.id}}</td>
            <td>{{dato.nome}}</td>
            <td>{{dato.cognome}}</td>
            <td class="nascondi">{{dato.eta}}</td>
            <td class="nascondi">{{dato.citta}}</td>
            <td *ngIf="dato.stato != 0; else studenteAssente">Presente</td>
            <ng-template #studenteAssente>
                <td style="color: rgb(255, 0, 0);"><b>Assente</b></td>
            </ng-template>

            <td *ngIf="dato.entrata !== '0:00'else entrataVuota">{{dato.entrata}} </td>
            <ng-template #entrataVuota>
                <td></td>
            </ng-template>

            <td *ngIf="dato.uscita !== '0:00'else uscitaVuota">{{dato.uscita}}</td>
            <ng-template #uscitaVuota>
                <td></td>
            </ng-template>
            <td class="nascondi" id="icona" (click)="eliminaStudente(dato.id,dato.nome,dato.cognome)">
                <mat-icon>clear</mat-icon>
            </td>
            <td class="icona" (click)="modificaPresenza(dato.id)">
                <mat-icon>edit</mat-icon>
            </td>
        </tr>

    </tbody>

</table>

</div>

</div>
<br>